body {
  padding: 50px;
  background: #717171;
}

#slider {
  /* height: 100vh; */
  width: 1080px;
  overflow: hidden;
  border: 10px solid #4c4c4c;
  height: 100vh;
  position: relative;
  margin: auto;
}

#slider ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

#slider ul li img {
  display: block;
}
